body {
    background-color: beige;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100vh; /* Full height of the viewport */
    margin: 0; /* Remove default margin */
}

h1 {
    /* Optional: Adjust font styles */
    font-family: Arial, sans-serif;
    font-size: 25px;
    /* Center text within the h1 element */
    text-align: center;
}

p {
    /* Optional: Adjust font styles */
    font-family: Arial, sans-serif;
    font-size: 16px;
    /* Center text within the p element */
    text-align: center;
    padding: 2px;
}

.fact-form {
    border: double #916a34 10px;
    border-radius: 10px;
    background-color: #b9cff0;
    box-shadow: 10px 10px #da7e54;
    padding: 20px; 
    margin: 20px; 
    width: 300px; 
}

.bfax{
    border: ridge, 10px, #916a34;
}