body {
    background-color: beige;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
}

h1 {
    font-size: 50px;
    margin-top: 20px; 
    border-bottom: 5px solid #916a34;
    color: #da7e54;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #b9cff0;
    border-radius: 20px;
    border: #916a34 2px solid;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.div {
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
