<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='fax.css') }}" />
  </head>
    <body>
      <h1>Give Us Some Fax <i class="far fa-comment"></i></h1>
      <p>Share some facts of your own</p>
      <br />
      <form action="/new/facts" method="POST">
      <div class="fact-form">
        <label for="fname">Name</label>
        <input type="text" id="name" name="name" /><br /><br />
        <label for="lname">Fax</label>
        <input type="text" id="fact" name="fact" /><br /><br />
        <input type="submit" value="Submit" />
      </form>
    </body>
  </div>
</html>
